APP_PORT=8000
APP_HOST=http://localhost

SHARD_1=postgres://user:password@localhost:5432/shard1_db
SHARD_2=postgres://user:password@localhost:5432/shard2_db
SHARD_3=postgres://user:password@localhost:5432/shard3_db
